<?xml version="1.0" encoding="UTF-8"?>

<!--
WiX Toolset Pills 15mg
Copyright (C) 2019-2022 Dust in the Wind

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!--
====================================================================================================
START: Overview
====================================================================================================

This solution is inspired by the Rob Mensching's article:
https://robmensching.com/blog/posts/2010/5/2/the-wix-toolsets-remember-property-pattern/

In this pill we'll show how to preserve a property's value provided in the install scenario and use
it in other scenarios (repair, upgrade and uninstall), without the need to be provided again.

There are four steps that must be implemented:

    a) At the end of the execution, the property's value must be stored somewhere in order to be
       available later, on a subsequent run. We can store it, for example, in a Windows Registry
       key.
       
    b) When the installer is executed again, the stored value must be retrieved from Windows
       Registry and used.
       
    c) If a value is provided from the command line, it must take precedence over the one from
       Windows Registry.
       
    d) If, after all these steps, the property is still empty, we may set a default value.

NEXT: Product.wxs (DOWN)
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Product
        Id="*"
        Name="Preserve Properties"
        Language="1033"
        Version="1.0.0.0"
        Manufacturer="Dust in the Wind"
        UpgradeCode="86713fbf-3196-4f22-9aa7-40bff96a68a3">

        <Package
            InstallerVersion="200"
            Compressed="yes"
            InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <!--
        ====================================================================================================
        Step 1: Create the "REMEMBER_ME" property
        ====================================================================================================
        
        Let's create a property whose value must be remembered. We'll call it "REMEMBER_ME":
        
        <Property Id="REMEMBER_ME" />
        
        Note: This is not its final form. We'll come back later to enhance this property.
        
        NEXT: PropertySaveComponents.wxs
        
        -->

        <Property Id="REMEMBER_ME" Secure="yes">

            <!--
            ====================================================================================================
            Step 4: Restore the property's value from Windows Registry.
            ====================================================================================================
            
            The "<RegistrySearch>" element, will set the "REMEMBER_ME" property to the value retrieved from
            Windows Registry.
            
            This is executed on any scenario (install, repair, upgrade, uninstall).
            
            Unfortunately, by introducing this mechanism, any value provided in command line will be
            overwritten with the value from Windows Registry. The next step will present the fix for this
            problem.
            
            NEXT: Product.wxs (DOWN)
            
            -->

            <RegistrySearch
                Id="RememberProperty"
                Root="HKLM"
                Key="SOFTWARE\DustInTheWind\PreserveProperties"
                Name="RememberMe"
                Type="raw" />

        </Property>

        <!--
        ====================================================================================================
        Step 7: Set a default value
        ====================================================================================================
        
        If, after the "REMEMBER_ME" property was restored from Windows Registry, it is still empty, let's
        set it to a default value of "1".
        
        NEXT: install-with-custom-value.bat
        -->

        <SetProperty
            Id="REMEMBER_ME"
            After="LoadRememberMeFromTemp"
            Sequence="both"
            Value="1">

            <![CDATA[NOT REMEMBER_ME]]>
        </SetProperty>

        <!--
        ====================================================================================================
        Step 3: Add the component into the feature
        ====================================================================================================
        
        The previously created component ("PropertySaveComponents") must be added into a feature in order to
        be executed at install time.
        
        NEXT: Product.wxs (UP)
        -->

        <Feature
            Id="ProductFeature"
            Title="Preserve Properties"
            Level="1">

            <ComponentGroupRef Id="FileComponents" />
            <ComponentGroupRef Id="PropertySaveComponents" />

        </Feature>

        <!--
        ====================================================================================================
        Step 5: Preserve the value provided from command line (if any)
        ====================================================================================================
        
        Two custom actions are used in order to preserve the value provided from command line, if any, and
        restore it after the property is set to the value from Windows Registry:
        
            - SaveRememberMeToTemp - is storing the REMEMBER_ME value in a temporary property
              (Temp_REMEMBER_ME).
        
            - LoadRememberMeFromTemp - is restoring the REMEMBER_ME value from the Temp_REMEMBER_ME
              temporary property only if the temporary property contains a value.
        
        The custom actions are scheduled in both sequences: InstallUISequence and InstallExecuteSequence,
        but they will be executed only the first time they are encountered. See next step.
        
        NEXT: CustomActions.wxs
        -->

        <InstallUISequence>
            <Custom Action="SaveRememberMeToTemp" Before="AppSearch" />
            <Custom Action="LoadRememberMeFromTemp" After="AppSearch">
                Temp_REMEMBER_ME
            </Custom>
        </InstallUISequence>

        <InstallExecuteSequence>
            <Custom Action="SaveRememberMeToTemp" Before="AppSearch" />
            <Custom Action="LoadRememberMeFromTemp" After="AppSearch">
                Temp_REMEMBER_ME
            </Custom>
        </InstallExecuteSequence>

    </Product>

</Wix>